@font-face {
    font-family: 'esmeralda_proregular';
    src: url('fonts/esmeralda_pro-webfont.eot');
    src: url('fonts/esmeralda_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/esmeralda_pro-webfont.woff2') format('woff2'),
         url('fonts/esmeralda_pro-webfont.woff') format('woff'),
         url('fonts/esmeralda_pro-webfont.ttf') format('truetype'),
         url('fonts/esmeralda_pro-webfont.svg#esmeralda_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: @body-text;
	font-weight: 100;
	letter-spacing: 0.0625em;
	background: @body-background;
	color: @text-colour;
}

h1, h2, h3, h4 {
	font-family: @header-text;
	color: @header-text-colour;
	text-align: center;
	a {
		color: @header-text-colour;
		border: none;
	}
}

h1 {
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

.site-branding {
	padding: 2em 0;
	background: url('img/woodtexture.jpg') center top;
	background-color: @coffee;
	background-position: cover;
	font-weight: bold;
	text-align: center;
	border-bottom: 4px solid @ribbon;
	height: 200px;
	h2 {
		color: @ribbon;
	}

	h3 {
		padding: 1em 0;
		color: @ribbon;
		font-size: 0.75em;
		line-height: 2.5;
		span {
			color: @cheese;
			font-size: 1.728rem;
			margin: 0 1em;
		}
	}

//position title text off screen and show graphic header
	h1, h2, h3, h3 span {
		position: relative;
		left: -5000px;
	}
	.headertitlescontainer {
		margin: 0 auto;
		width: 100%;
		position: absolute;
		.headertitles {
			position: relative;
			margin: 0 auto;
			background: url('img/headertitles.gif') center top no-repeat;
			background-size: 100% auto;
			width: 90%;
			height: 257px;
			.buynowbutton {
				background: url('img/buynowcircle.png') no-repeat;
				width: 172px;
				height: 172px;
				position: absolute;
				top: 230px;
				left: -80px;
			}
			.finefoods {
				background: url('img/finefood.png') no-repeat;
				width: 149px;
				height: 149px;
				position: absolute;
				top: 100px;
				right: -80px;
			}
		}
	}




	a:link, a:visited {
		text-decoration: none;
		color: @header-text-colour;
		border: none;
	}
}

p {
	padding-bottom: 2em;
	line-height: 2;
	font-size: 1.5em;
}

a:link, a:visited {
	color: @link-colour;
	border-bottom: 2px solid @link-colour;
	text-decoration: none;
}

#home-page {
	background: @coffee;
	border-bottom: 0.3125em solid darken(@cheese, 10%);
	header {
		display: none;
	}

	.entry-content {
		margin: 0;
		padding-bottom: 1em;
		background: url('img/woodtexture.jpg') center top;
		background-color: @coffee;
		background-position: cover;
		h1 {
			margin: 1em;
			margin-bottom: 1.6em;
			line-height: 1.75;
			font-weight: 100;
			letter-spacing: 0.030135005em;
			background: url('img/ribbon1.gif') center bottom no-repeat;
			padding-bottom: 40px;
		}
		p img {
			width: 100%;
			border-bottom: 4px solid @ribbon;
		}
		p:first-child {
			padding-bottom: 0px;
		}
		p {
			font-size: 1.4em;
			line-height: 2.2;
		}

		.raynerquote {
			display: inline;
			float: right;
			background: url('img/raynorquote.gif') center center no-repeat;
			width: 619px;
			height: 267px;
			margin-right: 60px;
			margin-top: 60px;
		}

		#photo-rob, #mouthwatering-creations {
			
			p {
				max-width: 100%;
				padding: 0 1em;
				img.alignnone {
					width: 100%;
					margin: 0 auto;
					border-bottom: 0.3125em solid @ribbon;
				}

				img.alignright {
					border: 0.3125em solid @white;
					margin: 0 1em;
				}

			}
		}
		
	}
}

#robs-friends  {
	h1 {
		color: @fruitcake;
		background: url('img/robsfriends.png') center center no-repeat;
		text-indent: -5000px;
		height: 200px;
	}
	p {
		margin-bottom: 0px;
	}
	color: @fruitcake;
	border-bottom: 0.3125em solid darken(@cheese, 10%);
	margin: 0 60px;
	.friendslogos {
		margin: 0 auto;
		background: url('img/logos.jpg') center center no-repeat;
		background-size: 100%;
		max-width: 976px;
		margin-bottom: 60px;
		height: 363px;
	}
}

#whats-in-the-box {
	background: url('img/woodtexture.jpg') center top;
	background-color: @coffee;
	background-position: cover;
	padding: 0 60px;
	p {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.bookoffer {
		background: url('img/cooklikerob.gif') center center no-repeat;
		background-size: 100%;
		width: 348px;
		height: 542px;
		margin-bottom: 40px;
	}
	h1 {
		background: url('img/inthebox.gif') center center no-repeat;
		text-indent: -5000px;
		height: 200px;
	}
	border-bottom: 0.3125em solid @ribbon;
	ul {
		margin-bottom: 60px;
		li {
			background: url('img/feather.png') left 10px no-repeat;
			padding-left: 45px;
			font-size: 18px;
			line-height: 1.5;
			list-style: none;
			margin-bottom: 20px;
			strong {
				font-weight: 900;
				color: @ribbon;
			}
		}
	}
}

#order-yours-today {
	.orderwrap {
		background-color: #544F49;
	}
	.orderleft{
		width: 50%;
		float: left;
	}
	.orderright {
		width: 50%;
		float: right;
		padding: 30px 30px 0 30px;
		font-size: 16px;
	}
	.pricecircle {
		background: url('img/pricecircle.png') center center no-repeat;
		width: 179px;
		height: 179px;
		float: right;
	}
	p {
		padding: 0px;
		margin: 0px;
	}
	h1 {
		color: @fruitcake;
		background: url('img/ordertoday.png') center center no-repeat;
		text-indent: -5000px;
		height: 200px;
	}
	.infoctawrap {
		margin: 30px;
		.cardlogos {
			color: @coffee;
			font-size: 20px;
			h4 {
				color: @coffee;
				text-align: left;
				font-size: 14px;
				margin-top: 20px;
			}
			.cardlogoimg {
				background: url('img/worldpaylogos.jpg') center center no-repeat;
				width: 484px;
				height: 63px;
			}
			a.button.add_to_cart_button.product_type_simple {
				background-color: @ribbon!important;
			}
		}
		margin-bottom: 40px;

	}
	color: @cheese;
	border-bottom: 0.3125em solid darken(@cheese, 10%);
	margin: 0;
}


.site-info {
	background: @ribbon;
	font-size: 0.8em;
	color: @text-colour;
	padding: 1em;
	p {
		display: inline;
		margin: 0;
		padding: 0;
		a:link, a:visited {
			color: @link-colour;
			text-decoration: none;
			border-bottom: 2px solid @link-colour;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		float: right;
		display: inline;
		li {
			display: inline-block;
			&:not(:last-child)::after {
				content: " | ";
			}
		}
	}
}

// WooCommerce specific


.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
	background: @button-colour;
	border-color: @button-colour;
	color: @button-text-colour;
}

.woocommerce, .woocommerce-page {
	a {
		border: none;
	}
	div.product p.price {
		color: @price-colour;
	}

	#payment {
		background: none;

		div.form-row {
			border: none;
		}
	}
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
	border: none;
	border-bottom: 2px solid @border-colour;
	border-radius: 0;
	padding: 0.25em;
	background: @forms-background;
}

.woocommerce form .form-row .required, .woocommerce-page form .form-row .required {
	color: @required;
}

.product.woocommerce.add_to_cart_inline {
	border: none;
}
