// colours

@fruitcake: rgb(91, 41, 32);
@cheese: rgb(251,230,200);
@ribbon: rgb(248,71,31);
@coffee: rgb(27,2,1);

@black: #000;
@white: #fff;

@text-colour: lighten(@cheese, 10%);
@menu-text-colour: @coffee;
@header-text-colour: lighten(@cheese, 10%);
@button-colour: @fruitcake;
@button-text-colour: @cheese;
@button-hover-colour: @ribbon;
@button-hover-text-colour: lighten(@cheese, 10%);
@link-colour: @ribbon;
@price-colour: fade(@fruitcake, 50%);
@required: @ribbon;

@menu-colour: rgba(0,0,0,0);

@body-background: fade(@cheese, 25%);
@border-colour: fade(@fruitcake, 50%);
@forms-background: lighten(@cheese, 10%);


// typography

@header-text:	EsmeraldaPro, serif;
@body-text:		EsmeraldaPro, serif; //'Lato', sans-serif;;